body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333333;
    padding: 20px;
    text-align: center;
    color: rgb(23, 128, 100);
  }
  
  .introduction {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px 0;
  }
  
  .skills {
    padding: 20px;
    margin: 20px 0;
  }
  
  .skills ul {
    list-style-type: none;
    padding: 0;
  }
  
  .skills ul li {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #333333;
    padding: 20px;
    color: rgb(0, 255, 119);
  }
  
  .contact {
    padding: 20px;
  }
  